<app-selection
  [selectionList]="selectionList"
  (requestSelectionDeletionChange)='deleteSelectionRequest($event)'
  (requestSelectionNameChange)='changeSelectionNameRequest($event)'
  (requestMapUpdate)='updateMapRequest()'>
</app-selection>
<app-detail-view
  [deleteSelection]="deleteSelection"
  [updateMapCounter]="updateMapCounter"
  (finishSelectionChange)='finishSelectionRequest($event)'
  (updateSelectionEdits)='updateSelectionRequest($event)'>
</app-detail-view>
<app-high-level-view
  [selectionList]="selectionList"
  [updateMapCounter]="updateMapCounter">
</app-high-level-view>
