app-selection, app-detail-view, app-high-level-view {
  float: left;
  height: 100vh;
  background-color: #191a1a;
}

app-selection {
  width: 20vw;
}

app-detail-view {
  width: 45vw;
}

app-high-level-view {
  width: 35vw;
}
